---
---

@import "{{ site.theme }}";

a {
 color:#0066cc;
}
a:hover,
a:focus {
 color:#993399;
}
a small {
 color:#993399;
}
a:hover small {
 color:#993399;
}

body {
 font-family: "geneva,verdana,courier";
 font-size: 105%;
}

code {
 font-size: 86%;
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}

header h1 a {
 font-size: 1.2em;
}
